.product-card {
  background: #0d1117;
  color: white;
  border: 2px solid #007bff;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.4);
  padding: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}

.product-image {
  width: 100%;
  max-width: 200px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.product-info h3 {
  margin-bottom: 0.5rem;
  color : white;
  
}

.product-info p {
  font-size: 0.9rem;
  color: #aaa;
}

.product-info button {
  margin-top: 1rem;
  background: #007bff;
  border: none;
  padding: 0.6rem 1.2rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.product-info button:hover {
  background: #0056b3;
}


.add-to-cart-btn {
  margin-top: auto;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}